@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
a{
    text-decoration: none;
    color: #050609;
}
.main{
    width: 100vw;
    height: 80vh;
    background-color: #ffffff;
    color: #050609;
}
.buttons{
    display: flex;
    justify-content: center;
}
.buttons button{
    margin-left: 20px;
    margin-right: 20px;
    position:relative ;
    background-color: #3BC14A;
    background: #4ceb5c;
    background-image: -webkit-linear-gradient(top, #4ceb5c, #2da339);
    background-image: -moz-linear-gradient(top, #4ceb5c, #2da339);
    background-image: -ms-linear-gradient(top, #4ceb5c, #2da339);
    background-image: -o-linear-gradient(top, #4ceb5c, #2da339);
    background-image: linear-gradient(to bottom, #4ceb5c, #2da339);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: 050609;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.buttons button:hover{
    background: #03b026;
    background-image: -webkit-linear-gradient(top, #03b026, #008232);
    background-image: -moz-linear-gradient(top, #03b026, #008232);
    background-image: -ms-linear-gradient(top, #03b026, #008232);
    background-image: -o-linear-gradient(top, #03b026, #008232);
    background-image: linear-gradient(to bottom, #03b026, #008232);
    text-decoration: none;
}
.content {
    text-align: center;
    position: relative;
    top: 15%;
}
.main img{
    width: 300px;
    height: 300px;
}
.main h1{
    margin-top: 30px;
    font-size: 4rem;
}
.main p{
    font-size: 1.5rem;
}
.text-box{
    width: 95%;
    height: auto;
    text-align: center;
    font-size: 1.5rem;
}
.biography{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.films{
    height: 80vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.biography h2{
    font-size: 3em;
    color: #050609;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.films h2{
    font-size: 3em;
    color: #050609;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.container{
    margin: 100px auto auto auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    text-align: center;
    position: relative;
    width: 30%;
    height: auto;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.card h3{
    margin-top: 15px;
    text-align: center;
    position: relative;
    font-size: 2em;
    color: #050609;
}
.card p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    color: #050609;
    margin-bottom: 10px;
}
.kino{
    height: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.kino h2{
    font-size: 3em;
    color: #050609;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
